@model IEnumerable<PPcore.Models.SecurityRoles>
@{
    Layout = null;
}

@{ var countOrder = 0; var dcolor = ""; var bcolor = ""; var utype = 0;}
@foreach (var item in Model)
{
    countOrder++;
    if (countOrder > 3) { utype = countOrder; dcolor = "background-color:#FFC000;"; bcolor = "#FFC000"; }
    else if (countOrder == 1) { utype = 1; dcolor = "color:white;background-color:#313131;"; bcolor = "#313131"; }
    else if (countOrder == 2) { utype = 2; dcolor = "background-color:#337AB7;"; bcolor = "#337AB7"; }
    else if (countOrder == 3) { utype = 3; dcolor = "background-color:#5CB85C;"; bcolor = "#5CB85C"; }
    <li style="cursor:pointer;"> @*onMouseOver="this.style.backgroundColor = '@bcolor';" onmouseout="this.style.backgroundColor = 'tranparent';"*@
        <a onclick="aUserForm(@utype)">&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.RoleName)</a>
    </li>
    @*<div style="@dcolor;height:45px;margin-bottom:3px;cursor:pointer;border:1px solid darkgrey;" onMouseOver="this.style.backgroundColor = 'transparent';" onMouseOut="    this.style.backgroundColor = '#313131'";> 
        <div href="index.html" style="vertical-align:central;font-size:20px;">&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.RoleName)</div>
        <div style="background-color:yellow;">&nbsp;</div>
    </div>*@
    @*<div class="row" style="border:1px solid darkgrey;margin-bottom:3px;cursor:pointer;background-color:darkgray;">
        <div class="col-xs-2" style="@dcolor;height:45px;">&nbsp;</div>
        <div class="col-xs-10" style="font-size:20px;">@Html.DisplayFor(modelItem => item.RoleName)</div>
    </div>*@
}